/.idea/
/.DS_Store
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/debugbar
/storage/clockwork
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/
_ide_helper.php
_ide_helper_models.php
